.thumb {
	background: #dddddd;
	padding: 3px;
}

.thumb img {
	width: 300px;
}

.thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

.thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

.x-view-over {
	border: 1px solid #dddddd;
	background: #efefef top;
	padding: 4px;
}

.x-view-selected {
	border: 1px solid #99bbe8;
	padding: 4px;
}

.x-view-selected .thumb {
	background: transparent;
}

.loading-indicator {
	font-size: 11px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

.comodin-nombre {
	font-weight: bold;
	font-size: 11px;
	font-family: tahoma, arial, verdana, sans-serif;
}

.comodin-descripcion {
	font-size: 11px;
	font-family: tahoma, arial, verdana, sans-serif;
}
